* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.intersection {
   overflow-x: hidden;
}

/* override bootstrap */
.bg-dark {
    background-color: #141414!important;
}
.btn-dark {
    background-color: #141414!important;
}
/* NavBar Area */
img#logo {
    max-width: 140px;
}
.user {
    max-width: 40px;
}
.secondary-user {
    max-width: 30px;
}
/* Footer Area */
i.fa-brands {
    color: #808080;
    font-size: 25px;
}
footer {
    font-size: 11px;
    text-decoration: none;
    color: #808080;
}
.agency {
    font-size: 8px;
}
/* carosello */
.carousel-inner {
    overflow: visible;
}
.hidden {
    opacity: 0;
}
.show {
    opacity: 1;
    transition: 7s;
}
/* animationi */

.card:hover {
    z-index: 1;
    animation: zoom 0.8s ease-in-out 0.2s;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    from { scale: 1; }
    to{ scale: 1.3; }
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(16.66%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-16.66%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}
